@import '../css/app.css';

// Helpers
@import 'vars';
@import 'mixins';

// Components
@import 'components/button';
@import 'components/datepicker';
@import 'components/label';
@import 'components/menu';
@import 'components/progress';
@import 'components/toast';
@import 'components/tariff';

@import 'input';
@import 'modal';
@import 'select-dropdown';
@import 'wallet';

@import 'product';

.wrapper {
    background-color: $neuralNeural2;
    padding-left: 260px;

    letter-spacing: 0.2px;
}

.sidebar {
    left: 0;
    width: 261px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: $functionalWhite;
    border-right: 1px solid $neuralNeural4;
    overflow: auto;

    &-collapse {
        margin-top: auto;
        padding-top: 16px;
        padding-bottom: 16px;
        display: flex;
        justify-content: center;

        .btn {
            padding: 11px 13px;
        }
    }

    .profile-card .btn svg {
        display: none;
    }

    &::-webkit-scrollbar {
        width: 2px;
    }

    &::-webkit-scrollbar-track {
        background-color: $functionalBlue20;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 20px;
        background-color: $functionalBlue;
    }
}

.topbar {
    top: 0;
    padding: 11px 24px;
    padding-bottom: 12px;
    background-color: $functionalWhite;
    border-bottom: 1px solid $neuralNeural4;
    margin-left: 261px;
    display: flex;
    gap: 12px;
    z-index: 2;
}

.logo-wrapper {
    padding: 16px 6px;
    padding-bottom: 4px;
}

.main {
    display: flex;
    flex-direction: column;
    padding: 24px;
    padding-top: 60px;
    min-height: 100vh;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    // overflow: auto;

    &__headline {
        padding: 24px 0;
        @include header(2);
        color: $neuralNeural10;
    }
}

.profile-card {
    background-color: $functionalBlueDark;
    border-radius: 16px;
    padding: 12px;
    margin-left: 2px;
    margin-right: 2px;

    &__email {
        color: $neuralNeural6;
        font-size: 15px;
        line-height: 22px;
    }

    &__settings {
        path {
            stroke: $neuralNeural6;
        }
    }

    &__balance {
        font-size: 15px;
        line-height: 22px;
        color: $neuralNeural4;
        margin-bottom: 6px;
    }
}

.panel {
    padding: 12px;
    border-radius: 16px;
    box-shadow: $panelShadow;
    background-color: $functionalWhite;

    &_p-lg {
        padding: 24px;
    }

    &_product {
        padding: 24px;
    }
}

.auth-panel {
    width: 480px;
    border-radius: 25px;
    box-shadow: -1px 3px 8px 0px rgba(89, 128, 206, 0.05);
    background-color: $functionalWhite;

    &__head {
        padding: 36px;
        border-bottom: 1px solid $neuralNeural4;

        &-title {
            margin-bottom: 12px;
            color: $neuralNeural10;

            @include header(2);
        }

        &-caption {
            color: $neuralNeural8;

            @include paragraph(2);
        }
    }

    &__body {
        padding: 36px;
    }

    &__footer {
        padding: 36px;
        border-top: 1px solid $neuralNeural4;
    }
}

.empty-state {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;

    &__title {
        @include header(4);
        color: $neuralNeural10;
        margin-bottom: 6px;
    }

    &__list {
        @include paragraph(3);
        color: $neuralNeural8;
        list-style: disc;
        padding-left: 22px;
    }

    p {
        max-width: 320px;
        margin-bottom: 18px;

        @include paragraph(3);
    }
}

.map-container {
    width: 100%;
    height: 600px;
    overflow: hidden;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
}

.map-balloon {
    position: absolute;
    width: 232px;
    padding: 10px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 3px 12px 0px rgba(89, 128, 206, 0.1);

    &__header {
        padding-bottom: 10px;
        color: $neuralNeural10;
        border-bottom: 1px solid $neuralNeural4;

        @include header(5);
    }

    &__body-wrapper {
        padding-top: 10px;
        display: flex;
        flex-direction: column;
        @include paragraph(3);
    }

    &__subhead {
        color: $neuralNeural8;
    }

    &__value {
        margin-bottom: 10px;
    }

    .btn {
        margin-top: auto;
    }
}

.auth-layout {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &__logo {
        position: absolute;
        left: 16px;
        top: 16px;
    }

    &__bg {
        &::before {
            content: '';
            background-color: $functionalBlue;
            background-image: url(/images/Pattern.svg);
            background-repeat: no-repeat;
            background-size: cover;
            position: absolute;
            top: 0;
            bottom: 0;
            width: 50%;
            left: 0;
            z-index: -1;
        }

        &::after {
            content: '';
            background-color: $neuralNeural2;
            position: absolute;
            top: 0;
            bottom: 0;
            width: 50%;
            right: 0;
            z-index: -1;
        }
    }
}

@media (min-width: 1441px) {
    .auth-layout {
        &__logo {
            left: 0.9722vw;
            top: 0.9722vw;

            img {
                height: 2.5vw;
            }
        }
    }

    .auth-panel {
        width: 33.3333vw;
        border-radius: 1.7361vw;
        box-shadow: -0.694vw 0.208vw 0.555vw 0px rgba(89, 128, 206, 0.05);

        &__head {
            padding: 2.5vw;

            &-title {
                margin-bottom: 0.8333vw;

                @include largeheader2;
            }

            &-caption {
                color: $neuralNeural8;

                @include largeparagraph1;
            }
        }

        &__body {
            padding: 2.5vw;
        }

        &__footer {
            padding: 2.5vw;

            & a button,
            & button {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 3.0556vw;
                border-radius: 0.69vw;
                padding-left: 1.11vw;
                padding-right: 1.11vw;
                @include largeparagraph1;
            }
        }
    }

    .checkbox-input input {
        width: 0.8333vw;
        height: 0.8333vw;
    }

    .checkbox-input__label {
        @include largeparagraph1;
    }
}

.auth-layout-mobile {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    flex-direction: column;

    &__bg {
        background-color: $functionalBlue;
        top: 0;
        bottom: 0;
        width: 100vw;
        height: 100vh;
        left: 0;
        z-index: -1;
        position: absolute;
        overflow: hidden;
    }
    &__logo {
        width: 100vw;
        height: 14.359vw;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            height: 78.5714%;
        }
    }
}

.auth-panel-mobile {
    width: 100%;
    border-radius: 6.15vw 6.15vw 0 0;
    background-color: $functionalWhite;
    overflow-y: auto;

    flex-grow: 1;

    &__head {
        min-height: 28.2vw;
        padding: 5.128vw;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 3.07vw;
        border-bottom: 1px solid $neuralNeural4;

        &-title {
            width: 87vw;
            height: 10.2564vw;
            color: $neuralNeural10;

            @include mobileheader2;
        }

        &-caption {
            width: 87vw;
            color: $neuralNeural8;
            @include mobileparagraph1;
        }
    }

    &__body {
        padding: 5.128vw;
        gap: 5.128vw;
    }

    &__footer {
        padding: 5.128vw;
        border-top: 1px solid $neuralNeural4;
    }
}

.mobileparagraph1 {
    @include mobileparagraph1;
}

.checkbox-input-mobile input {
    width: 3.07vw;
    height: 3.07vw;
}

.telegram-login {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px 19px;
    border-radius: 16px;

    background-color: $functionalBlue10;
    color: $neuralNeural10;
    transition: 0.3s;
    cursor: pointer;

    @include paragraph(1);

    &:hover {
        background-color: $functionalBlue20;
    }
}

.inline-link {
    color: $functionalBlue;
}

.sidebar_collapsed {
    &.wrapper {
        padding-left: 65px;
    }

    .sidebar {
        width: 65px;

        .logo-wrapper svg {
            // width: 36px;
            height: 36px;
        }

        .logo-wrapper svg path:nth-child(n + 3) {
            display: none;
        }

        .profile-card {
            margin-left: -2px;
            margin-right: -2px;
            padding: 6px;

            .btn {
                padding: 7px 0;

                svg {
                    display: block;
                }
            }

            &__settings {
                width: 100%;
            }

            &__settings a {
                display: flex;
                justify-content: center;
                padding: 8px;
            }
        }

        .profile-card__email,
        .profile-card__balance,
        .btn span,
        .menu__section,
        .menu__link span,
        .menu__link__alertOctagon,
        .menu__link__alertTriangle,
        .menu__link-counter {
            display: none;
        }

        .menu__link {
            height: 44px;
            padding: 10.5px 12px;
        }
    }

    .topbar {
        margin-left: 65px;
    }
}

.purchase-group {
    // padding: 12px;
    padding-bottom: 24px;
    display: flex;
    gap: 12px;
    align-items: center;

    &__title {
        color: $neuralNeural10;

        @include header(5);
    }
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;

    div {
        box-sizing: border-box;
        display: block;
        position: absolute;
        width: 20px;
        height: 20px;
        border: 2px solid $functionalBlue;
        border-radius: 50%;
        animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        border-color: $functionalBlue transparent transparent transparent;

        &:nth-child(1) {
            animation-delay: -0.45s;
        }

        &:nth-child(2) {
            animation-delay: -0.3s;
        }

        &:nth-child(3) {
            animation-delay: -0.15s;
        }
    }
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.caption {
    display: flex;
    gap: 6px;
    padding: 2px 0;

    color: $neuralNeural6;
    @include paragraph(3);

    svg {
        width: 20px;
        height: 20px;

        path {
            stroke: $neuralNeural6;
        }
    }
}

.paragraph-2 {
    @include paragraph(2);
}

.paragraph-3 {
    @include paragraph(3);
}

.header-5 {
    @include header(5);
}

.overflow-initial {
    overflow: initial;
}

.product-review {
    &__id {
        color: $neuralNeural10;

        @include header(6);
    }

    &__rating {
        display: flex;
        gap: 4px;
        padding-top: 8px;
        padding-bottom: 16px;

        &-star {
            &_active {
                path {
                    fill: #ffce00;
                }
            }
        }
    }

    &__review-title {
        margin-bottom: 6px;
        color: $neuralNeural10;

        @include header(6);
    }

    &__review {
        max-width: 100%;
        color: $neuralNeural10;
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        margin-right: auto;

        @include paragraph(3);
    }
}

.profile-block {
    display: flex;
    gap: 12px;

    &__icon {
        svg {
            width: 28px;
            height: 28px;
        }
    }

    &__title {
        margin-bottom: 3px;
        color: $neuralNeural10;

        @include header(5);
    }

    &__desc {
        max-width: 550px;
        color: $neuralNeural8;

        @include paragraph(3);
    }

    &__info {
        flex-grow: 1;
    }

    &__action {
        align-self: center;
    }

    &_theme-danger {
        .profile-block {
            &__icon {
                svg {
                    path {
                        stroke: $accentRed;
                    }
                }
            }

            &__title {
                color: $accentRed;
            }
        }
    }
}

.main-table {
    padding: 0;

    &__th {
        padding-bottom: 12px;
        border-bottom: 1px solid $neuralNeural4;

        @include header(6);
    }

    &__tr {
        td {
            padding-top: 12px;
            padding-bottom: 12px;

            border-bottom: 1px solid $neuralNeural4;

            @include paragraph(3);
        }

        &:last-of-type td {
            border-bottom: none;
        }
    }
}

.dropdown {
    margin-top: 6px;
    border-radius: 8px;
    background-color: $functionalWhite;
    box-shadow: 0px 12px 24px 0px rgba(89, 128, 206, 0.1);

    &__wrapper {
        border-radius: 8px;
    }
}

.app-list {
    display: flex;
    flex-direction: column;
    border-radius: 8px;

    &__item {
        display: flex;
        align-items: center;
        gap: 6px;
        height: 36px;
        padding: 0 12px;
        border-radius: 6px;
        background-color: $functionalWhite;
        transition: 0.2s;
        cursor: pointer;

        @include paragraph(3);

        &:hover {
            background-color: $functionalBlue10;
        }

        svg {
            width: 16px;
            height: 16px;
        }
    }
}

.excel-import {
    &__step {
        margin-bottom: 24px;

        &:last-of-type {
            margin-bottom: 0;
        }

        &-caption {
            margin-bottom: 10px;

            @include paragraph(2);
        }
    }
}

.input-dndfile {
    &__input {
        display: none;
    }

    &__label {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px dashed $neuralNeural6;
        border-radius: 10px;
        height: 170px;
        cursor: pointer;

        &-caption {
            color: $neuralNeural6;

            @include paragraph(2);
        }
    }
}

.overflow-initial {
    overflow: initial;
}

.maintenance-mode {
    background-color: $accentYellow;
    width: 100%;
    padding: 24px 12px;
    position: fixed;
    z-index: 20;
    left: 0;
    top: 0;
    height: 96px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.in-maintenance-mode {
    .topbar,
    .sidebar {
        top: 96px;
    }

    .main {
        margin-top: 96px;
    }
}

.badge {
    align-items: center;
    padding: 6px;
    border-radius: 6px;
}
.addQuestion {
    overflow: visible !important;
}
.accentGreen {
    color: $accentGreen;
}
.accentRed,
.accentRedtext,
.alertOctagon g path {
    color: $accentRed;
}
.accentYellow {
    color: $accentYellow;
}
.functionalBlue {
    color: $functionalBlue;
}
.alertOctagon g path {
    stroke: $accentRed;
}
.checkCircle g path {
    stroke: $accentGreen;
}

.wrapper-mobile {
    width: 100vw;
    min-height: 100vh;

    &__desk {
        width: 100vw;
        min-height: 100vh;
        display: flex;
        flex-direction: column;

        &-topmenu {
            width: 100%;
            height: 16.4103vw;
            padding: 2.564vw;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid $neuralNeural4;
            background-color: $functionalWhite;
            position: fixed;
            z-index: 10;

            & button {
                width: 11.2821vw;
                height: 11.2821vw;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 1vw;
                border-radius: 2.5641vw;

                & svg {
                    width: 5.1282vw;
                    height: 5.1282vw;
                }
            }
        }

        &-body {
            margin-top: 16.4103vw;
            width: 100%;
            flex-grow: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            & header {
                width: 89.7435vw;
                text-align: left;
                user-select: none;
                & h1 {
                    @include mobileheader2;
                    margin: 0;
                    padding: 3.333vw 0 2.8205vw 0;
                }
            }
        }
    }

    &__logo img {
        height: 11.2821vw;
    }

    &__sidebar {
        width: 100vw;
        padding: 3vw;

        & .profile-card {
            border-radius: 4.1vw;
            padding: 3.077vw;
            margin: 0;

            &__email,
            &__balance {
                @include mobileparagraph1;
            }

            &__fillup button {
                @include mobileparagraph1;
                border-radius: 2.5641vw;
                padding: 2.5641vw 3.8462vw;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 1.5438vw;

                & svg {
                    display: none;
                }
            }

            &__settings a svg {
                width: 5.128vw;
                height: 5.128vw;
            }
        }

        & .menu {
            & .menu__section {
                @include mobileparagraph1;
            }

            & .menu__link {
                align-items: center;
                @include mobileparagraph1;

                &-counter {
                    min-width: 5.128vw;
                    height: 5.128vw;
                    padding: 0 1.2821vw;
                    border-radius: 2.5641vw;
                    top: 2.5641vw;
                    right: 2.5641vw;
                    @include mobileparagraph1;
                }

                &__alertTriangle,
                &__alertOctagon {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                & .menu__link__title svg,
                &__alertTriangle svg,
                &__alertOctagon svg {
                    width: 5.128vw;
                    height: 5.128vw;
                }
            }
        }
    }
}

.mobile-purchases-filters {
    display: flex;
    position: absolute;
    width: 100vw;
    flex-direction: column;
}

.mobile-purchases-empty {
    flex-grow: 1;

    & .empty-state {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5.1282vw;

        &__image {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 81.28vw;
        }

        &__info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            & p {
                width: 80%;
                text-align: center;
                margin-bottom: 4.615vw;
                @include mobileparagraph1;
            }

            & button {
                min-width: 45.3846vw;
                height: 11.2821vw;
                padding-left: 4.103vw;
                padding-right: 4.103vw;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 2.564vw;
                @include mobileparagraph1;

                & svg {
                    width: 5.128vw;
                    height: 5.128vw;
                }
            }
        }

        &__title {
            @include mobileheader4;
        }
    }
}

.mobile-maintenance-mode {
    background-color: $accentYellow;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2.25vw 5.1282vw;

    &__infotext {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        & h6 {
            @include mobileheader4;
        }
        & p {
            @include mobileparagraph1;
            text-align: center;
        }
    }

    & .items-center svg {
        width: 12.8205vw;
        height: 12.8205vw;
    }
}

.mobile-section-input {
    width: 89.7435vw;
    height: 11.2821vw;
    user-select: none;
    cursor: pointer;
    border: 1.5px solid $neuralNeural6;
    transition: ease all 0.3s;
    color: $neuralNeural8;
    border-radius: 2.5641vw;
    padding: 2.821vw 4.102vw;
    display: flex;
    align-items: center;
    justify-content: space-between;

    & p {
        @include mobileparagraph1;
    }

    & svg {
        width: 5.128vw;
        height: 5.128vw;
    }
}

.mobile-modal {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 13;
    background-color: rgba(0, 0, 0, 0.25);

    & .mobile-purchases-filters {
        padding-top: 6.41vw;
        border-radius: 10px 10px 0 0;
        background-color: $functionalWhite;

        & button {
            border-radius: 0;
            padding-left: 5.128vw;
            justify-content: flex-start;
        }

        &__hr {
            border: 2.5px solid $neuralNeural6;
            margin-left: 41.282vw;
            border-radius: 2.5px;
            height: 0px;
            width: 17.4359vw;
        }
    }
}

.mobile-modalSlide {
    width: 100vmin;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;

    & .modal__wrapper_slide {
        width: 100%;
        min-height: 100vh;
        border-bottom-left-radius: 0px;

        & .modal__header {
            padding: 5.128vw;
            border-bottom: 1.5px solid $neuralNeural6;

            & .modal__header-wrapper .modal__header-title {
                @include mobileheader2;

                & .label_theme-danger {
                    display: none;
                }
                & button {
                    display: none;
                }
            }

            &-caption {
                @include mobileparagraph1;
            }
        }

        & .modal__header-close {
            width: 10.256vw;
            height: 10.256vw;
            & .btn {
                width: 10.256vw;
                height: 10.256vw;
                padding: 2.564vw;
                display: flex;
                justify-content: center;
                align-items: center;

                & svg {
                    margin: 0;
                    width: 10.256vw;
                    height: 10.256vw;
                }
            }
        }

        & .modal__footer {
            padding: 5.128vw;

            & .modal__footer-actions {
                display: flex;
                flex-direction: column;
                & button {
                    height: 11.128vw;
                    padding: 0.5vw;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 2.564vw;

                    & span {
                        @include mobileparagraph1;
                    }
                }

                & .btn_theme-normal {
                    display: none;
                }
            }
        }

        & .modal__body {
            padding: 9.2307vw;

            & .empty-state {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 6.153vw;

                &__title {
                    @include mobileheader4;
                }

                &__list {
                    display: none;
                }
            }
        }
    }

    &__input-block {
        display: flex;
        flex-direction: column;
        gap: 2.564vw;

        & button {
            height: 11.128vw;
            padding: 0.5vw;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 2.564vw;

            & span {
                @include mobileparagraph1;
            }
        }
    }
}

.mobile-purchasesGroup {
    width: 88vw;
    margin-top: 2vw;
    border: 1px solid $neuralNeural6;
    border-radius: 2.564vw;
}

.mobile-purchase-group {
    width: 100%;
    padding: 2.564vw;
    display: flex;
    flex-direction: column;

    &__title {
        @include mobileheader4;
    }

    &__body {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &__collapsed {
            width: 12vw;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        max-width: 55vw;

        &__text {
            @include mobileparagraph1;
        }
    }
    &__progress {
        max-width: 55vw;
        display: flex;
        flex-direction: column;
        margin-bottom: 2vw;

        & p {
            @include mobileparagraph1;
            text-align: right;
        }

        & .progress {
            width: 45vw;
            height: 1.538vw !important;
            min-width: 50px !important;
        }
    }
}

.product-list_deliveries .mobile-product-card {
    border-top: 1px solid $neuralNeural6;
    padding: 2.564vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 88vw;

    &__image {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 82%;

        &__top {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            margin-bottom: 1vw;

            & .product__code,
            & .product__quantity {
                display: flex;
                flex-direction: row;
                white-space: nowrap;
                @include mobileparagraph0;

                & .product__code__text {
                    color: $neuralNeural8 !important;
                }
            }
        }

        &__bottom {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            width: 100%;

            & .product__actions .label {
                padding: 1.5384vw;
                display: flex;
                justify-content: center;
                align-items: center;

                @include mobileparagraph1;

                & svg {
                    width: 4.102vw;
                    height: 4.102vw;
                }
            }
        }
    }
}

.mobile-tarifCard {
    width: 100vw;
    padding: 0 5.128vw 0 5.128vw;

    & .tariffe-card {
        min-width: 65.1282vw;
        min-height: 55.6667vw;
        padding: 6.1538vw;
        border-radius: 4.1025vw;
        border: 1px solid $neuralNeural4;
        @include mobileparagraph1;

        &__info h1 {
            @include mobileheader2;
        }

        &__info h5 {
            @include mobileparagraph1;
        }

        &__info {
            margin-bottom: 4.1026vw;
        }
        &__buyIt button {
            border-radius: 2.5641vw;
            padding: 2.5641vw 3.8462vw;
            @include mobileparagraph1;
        }
    }
}

.pickups-mobile,
.wallets-mobile,
.faq-mobile,
.tariffs-mobile,
.transactions-mobile,
.purchases-mobile {
    & .wrapper-mobile__desk {
        & .wrapper-mobile__desk-body {
            justify-content: flex-start;
            & .input-wrapper {
                width: 100vw;
                background-color: $functionalWhite;
                position: sticky;
                top: 0px;
                z-index: 11;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 16.4103vw;
                // & .mobile-section-input {
                // }
            }
        }
    }
}

.mobile-product-card {
    border-top: 1px solid $neuralNeural6;
    padding: 2.564vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 92vw;

    &__image {
        display: flex;
        justify-content: center;
        align-items: center;

        & svg {
            width: 4.102vw;
            height: 4.102vw;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 82%;

        &__top {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            margin-bottom: 1vw;

            & .product__code,
            & .product__quantity {
                display: flex;
                flex-direction: row;
                white-space: nowrap;
                @include mobileparagraph0;
            }

            & .product__code__text {
                color: $neuralNeural8 !important;
            }
        }

        &__bottom {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;

            & .product__actions {
                @include mobileheader4;
            }

            & .product__actions .label {
                padding: 1.5384vw;
                display: flex;
                justify-content: center;
                align-items: center;

                @include mobileparagraph1;

                & svg {
                    width: 4.102vw;
                    height: 4.102vw;
                }
            }

            & .product__status {
                & .badge {
                    @include mobileparagraph0;
                    padding-top: 0.3vw;
                    padding-bottom: 0.3vw;

                    & svg {
                        width: 3vw;
                        height: 3vw;
                    }
                }
            }
        }
    }
}

.faq-mobile {
    & .wrapper-mobile__desk {
        &-body {
            & .mobile-faq-card {
                margin-bottom: 3vw;
                width: 89.7435vw;
                border-radius: 2.5641vw;
                padding: 2.5641vw 3.8462vw;
                border: 1px solid $neuralNeural6;

                &__title {
                    @include mobileheader4;

                    & .transition-all svg {
                        width: 5vw;
                        height: 5vw;
                    }
                }

                &__body {
                    border-top: 1px solid $neuralNeural6;
                    @include mobileparagraph1;

                    &-content {
                        @include mobileparagraph0;
                    }
                }
            }
        }
    }
}

.wallets-mobile {
    .wrapper-mobile__desk {
        &-body {
            background-color: $neuralNeural2;
        }
    }

    &-groups {
        width: 90vw;
        gap: 5vw;
        margin-bottom: 3vw;
        display: flex;
        flex-direction: column;
    }
    &-group {
        background-color: $functionalWhite;
        border-radius: 4.102vw;
        padding: 3vw;

        & .wallet-header {
            display: flex;
            flex-direction: column;
            &__top {
                & .label {
                    gap: 1.5385vw;
                    border-radius: 2.0513vw;
                    padding: 1.795vw 2.8205vw;
                    @include mobileparagraph1;

                    & svg {
                        width: 4.1025vw;
                        height: 4.1025vw;
                    }
                }
            }

            &__bottom {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                & img {
                    height: 9.231vw;
                    width: auto;
                }
                & button {
                    gap: 1.5385vw;
                    border-radius: 2.0513vw;
                    padding: 1.795vw 2.8205vw;
                    @include mobileparagraph1;

                    & svg {
                        width: 4.1025vw;
                        height: 4.1025vw;
                    }
                }
            }
        }

        & .mobile-wallet {
            gap: 1.5385vw;
            margin-top: 3.077vw;
            padding: 2.0513vw 3.077vw;
            border-radius: 3.077vw;
            position: relative;
            display: flex;
            align-items: center;
            border: 1px solid #e7eaf0;
            flex-direction: column;

            &__top {
                gap: 1.5385vw;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;

                & .wallet__info {
                    @include mobileparagraph1;
                }
            }

            &__right {
                height: 16.1538vw;
                gap: 0.7692vw;
                display: flex;
                flex-direction: column-reverse;
                justify-content: flex-end;
                align-items: flex-start;

                &-btn button {
                    width: 7.6923vw;
                    height: 7.6923vw;
                    border-radius: 1.5385vw;
                    padding: 1.0256vw;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }

            &__bottom {
                display: flex;
                width: 100%;
                flex-direction: row;
                justify-content: flex-end;

                &-label {
                    @include mobileparagraph1;
                    padding: 1.5385vw;
                    border-radius: 1.5385vw;
                }
            }
        }
    }
    &-description {
        @include mobileparagraph0;
    }
}
.wallet__info-balance-sum {
    @include mobileheader4;
}

.mobile-pickup-danger {
    & .label {
        display: flex;
        align-items: center;
        justify-content: center;
        @include mobileparagraph0;

        & svg {
            width: 4vw;
            height: 4vw;
        }
    }
}

.mobile-pickup {
    &__body {
        width: 90vw;
        gap: 5vw;
        margin-bottom: 3vw;
    }
    &__item {
        background-color: $functionalWhite;
        gap: 1.5385vw;
        margin-top: 3.077vw;
        padding: 2.0513vw 3.077vw;
        border-radius: 3.077vw;
        position: relative;
        display: flex;
        align-items: center;
        border: 1px solid #e7eaf0;
        flex-direction: column;
    }
    &__empty {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;

        & .empty-state {
            & .empty-state__info {
                & .header-5 {
                    @include mobileheader4;
                }
            }
        }
    }
    &__bottom {
        width: 100%;
        flex-direction: row;
        justify-content: flex-end;
        & .label {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 1.5385vw;
            padding: 1.0256vw;
            @include mobileparagraph0;

            & svg {
                width: 4vw;
                height: 4vw;
            }
        }
    }
    &__top {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        &-header {
            display: flex;
            width: 100%;
            align-items: center;
            flex-direction: row;
            justify-content: space-between;
        }
        &-phone,
        &-id {
            @include mobileparagraph1;
        }
        &-tel,
        &-span {
            @include mobileparagraph0;
        }
        &-tel,
        &-phone {
            color: $neuralNeural8;
        }
    }
    &__name {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        @include mobileheader4;
    }
    &__adress {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        @include mobileparagraph1;
        color: $neuralNeural8;
    }
    &__pickup {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        @include mobileparagraph0;
        color: $neuralNeural10;
        &-span {
            color: $neuralNeural8;
        }
    }
}
